/*font family: 'Playfair Display', serif;*/
/*font family: 'Ubuntu', sans-serif;*/
/*font family: 'Incosolota', monospace;*/

/*header start*/
*{
	margin:0;
	padding: 0;
}
body{
	font family: 'Playfair Display', serif;
	color:#626262;
}
header{}

.wrapper {
    overflow: hidden;
	width:90%;
	margin:0 auto;
}

.logo {
	width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}

.menu {
	width: 70%;
    float: right;
}
.menu ul{
}

.menu ul li{
	list-style: none;
	float:left;
}
.menu ul li a{
	text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #626262;
    display: block;
    padding: 0 50px;
    transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #000000
}

	/*header end*/
